*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 2px 0;
    background: #7e96c4 !important;
    color: #333;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-family: 'Fira sans', Helvetica, Arial, sans-serif;
}

.game-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .game-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .game-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .game-container {
        width: 1170px;
    }
}

.grid {
    max-width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.picked {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card,
.back,
.front {
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.back,
.front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: rgba(255, 255, 255, 0.1) url('../img/popsicle.png') no-repeat center center / contain;
}

.match {
    pointer-events: none;
}

.back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    background: rgba(0, 0, 0, 0.3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.match .front {
    background: #7e96c4 !important;
}

.center-content {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.moves {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: inherit;
}

.btn-restart {
    background: #c47e96;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #333;
    border-radius: 20px;
    border: none;
    padding: 15px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.btn-restart:hover {
    background: #d5a4b5;
    color: #111;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
    text-align: center;
}

.stars li {
    display: inline-block;
    list-style: none;
}

.fa-star {
    color: #ff7f50;
}

.popup {
    margin: 50px auto;
    padding: 70px;
    background: #f2f2f2;
    border-radius: 8px;
    width: 80%;
    height: 80%;
    position: relative;
    font-family: 'Fira sans', Helvetica, Arial, sans-serif;
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

.total-rating li {
    display: inline-block;
    list-style: none;
    margin: 0 10px 0 0;
}

