*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #7e96c4 !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
    font-family: 'Fira sans', Helvetica, Arial, sans-serif;
}

.grid {
    max-width: 600px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.card {
    position: relative;
    margin: 5px;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card,
.back,
.front {
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.back,
.front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background: rgba(255, 255, 255, 0.1) url('../img/popsicle.png') no-repeat center center / contain;
}

.back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    background: rgba(0, 0, 0, 0.3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.match .front {
    background: #7e96c4 !important;
}
